body {
    font-family: Arial, Helvetica, sans-serif;
}
/* arranged alphabetically */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.date_container {
    background-color: #A4C3FF;
    box-shadow: 0 0 15px 1px #A4C3FF;
}
.date_title {
    color: #072560;
    font-weight: bold;
    font-size: 20px;
    margin-top: -3px;
}
.date_subtitle {
    color: #072560;
    font-style: italic;
}
.employee_name {
    font-weight: bolder;
    color: #072560;
}
.left_panel {
    background-color: #072560;
    color: white;
    position: fixed;
    overflow: auto;
    width: 15%;
    height: 100%;
    bottom: 0;
}
.left_panel img {
    width: 80px;
    height: 80px;
}
.log_out_button {
    display: block;
    position: fixed;
    bottom: 0;
    align-self: center;
}
.nav {
    font-size: 13px;
    font-weight: bold;
}
.nav a:hover {
    background: white;
    color: #072560;
}
.nav a:active {
    color: #072560;
}
.nav_button {
    border: 1px solid #4C618D;
    color: #F7F7F7;
}
.nav-link[aria-current="page"]{
    background: white;
	color: #072560;
}
.right_panel {
    width: 85%;
    margin-left: 15%;
    display: inline-block;
    background-color: #F7F7F7;
    color: black;
    min-height: 100vh;
}
.subtitle_1 {
    margin: 0;
    padding: 0;
    font-size: small;
}
.title_1 {
    font-size: large;
    font-weight: bold;
}
.title_2 {
    font-size: 2rem;
}