@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.container {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    
}

.container .content-left{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 45%;
    height: 100%;
    background: #072560;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;

    border-radius: 15px;
}

.container .content-right{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 55%;
    height: 100%;
    background: #f7f7f7;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* .logo {
    width: 45%;
} */

.title h1 {
    font-size: 55px;
    font-weight: 600;
}

.title p {
    font-size: 10px;
    line-height: 1.5;
}

.select-container {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 60%;
    background: #fff;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    border-radius: 15px;
}

.subtitle h2 {
    font-size: 24px;
}

.subtitle h3 {
    font-size: 14px;
    font-weight: 400;
}


.button-container .button {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
}


.button-container .button:first-child {
    margin-bottom: 12px;
}

.button-container span {
    font-weight: 600;
}


.button-container .button:focus {
    outline: none;
}

.button-container .button:hover {
    cursor: pointer;
}

#admin-button{
    background: #072560;
    color: #fff;
}

#admin-button:hover{
    background: #04163a;
}

#employee-button{
    background: #d2d2d2;
    color: #000;
}

#employee-button:hover{
    background: #bfbfbf;
}
