@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.container {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.container .content-left{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 45%;
    height: 100%;
    background: #072560;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
}

.container .content-right{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 55%;
    height: 100%;
    background: #f7f7f7;
}

.logo {
    width: 45%;
}
.title h1 {
    font-size: 80px;
    font-weight: 600;
}

.title p {
    font-size: 12px;
    line-height: 1.5;
}

.select-container {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background: #fff;

    padding-left: 20px;
    padding-right: 20px;

    border-radius: 15px;
}

.subtitle h2 {
    font-size: 32px;
}

.subtitle h3 {
    font-size: 24px;
}


.button-container .button {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#admin-button{
    background: #072560;
    color: #fff;
}

#employee-button{
    background: #d2d2d2;
    color: #000;
}